<ng-container *ngIf="(album$|async) as album">
    <div class="row my-4">
        <div class="col-3">
            <img class="page-thumbnail" [alt]="'Album thumbnail'"
                 [src]="album.images.length > 0 ? album.images[0]?.url : 'assets/images/no-image.png'">
        </div>
        <div class="col-auto mt-auto mb-auto">
            <p class="text-muted small mb-0">{{album.type|titlecase}}</p>
            <h1 class="mb-2 bold">{{album.name}}</h1>
            <p class="mb-0">Release date: <span class="text-muted">{{album.release_date|date}}</span></p>
            <p class="mb-0">Album contributors:
                <a class="c-pointer text-muted" *ngFor="let contributor of album.artists, let i = index"
                   [routerLink]="['/artists', contributor.id]">
                    {{contributor.name}}
                    <span *ngIf="i < album.artists.length - 1">|</span>
                </a>
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h4>Tracks</h4>
        <div class="d-flex align-items-center">
            <p class="mb-0" style="width: 100px">Sort by:</p>
            <select class="form-select" [ngModel]="sortBy" (ngModelChange)="toggleSort($event)">
                <option [value]="'TRACK_NO'">Track no.</option>
                <option [value]="'POPULARITY'">Popularity</option>
            </select>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
            <tr>
                <th>Track No.</th>
                <th>Name</th>
                <th>Duration</th>
                <th class="text-right">Popularity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let track of (tracks$|async)">
                <td class="align-middle">{{track.track_number}}</td>
                <td class="align-middle">{{track.name}}</td>
                <td class="align-middle">{{track.duration_ms|date:'mm:ss'}}</td>
                <td class="align-middle text-right">{{track.popularity}} / 100</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-container>
